/* Colors */
:root {
	--color-background: #eeeeee;
	--color-container: #dddddd;
	--color-border: #656565;
	--color-primary: #76885b;
	--color-text: black;

	--spacing-xs: 0.25rem;
	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;

	--border-width: 1px;
	--border-width-hover: 2px;
	--border-width-active: 2.5px;
	--border-radius: 10px;

	--transition-time: 0.14s;
}
